

#mainNav {
  background-color: #EA2B4A;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #EA2B4A;
}
header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}
header.masthead .header-content h2 {
  font-size: 20px;
}
header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .header-content h2 {
    font-size: 20px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}


section.features2 {
  background: #33AD6D;
  color: white;
}

section.features2 p{
  color: white;
}


section.features2 .section-heading h2 {
  margin-top: 0;
}

section.features2 .section-heading p {
  margin-bottom: 0;
}

section.features2 .device-container,
section.features2 .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features2 .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features2 .device-container {
    margin-bottom: 0;
  }
}

section.features2 .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features2 .feature-item h3 {
  font-size: 30px;
}


section.features2 .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.download {
  background-color: #EA2B4A;
  color: white;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
  background-color: #ea2b4a;
  position: absolute;
}

header.masthead .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

header.masthead .badges .badge-link:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  header.masthead .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

  @media (min-width: 992px) {
    section.download {
      background: url("../img/bg2.png"), #434343;
      background-repeat: no-repeat;
      background-size: 100%;
    }
